body 
{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
h1 
{
    text-align: center;
    color:slategray;
}
.about
 {
    color:blueviolet;
}
.skills
{
    color:crimson;
}
.projects
{
    color:forestgreen;
}
.contact
{
    color:palegreen;
}
.projectsstatement
{
    text-align: left;
}
.aff2
{
    width: 600px;
    height: 400px;
}
