body 
{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
h1 
{
    text-align: center;
    color:slategray;
}
h2.about
 {
    color:blueviolet;
}
h2.skills
{
    color:crimson;
}
h2.projects
{
    color:forestgreen;
}
h2.contact
{
    color:palegreen;
}
