/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2CEA2;
    background-size: cover;
}

#content {
    max-width: 95%;
    width: 95%;
    padding: 1%;
    border-radius: 5px;
}

#name {
    margin-top: 0px;
    margin-left: 3%;
}

img {
    max-width: 100%;
}

#main-content {
    text-align: center;
}

/* Columns */
.columns {
    display: flex;
    list-style: none;
    flex-direction: column;
}
/* Larger Devices */
@media only screen and (min-width: 768px) {
    /* lists */
    li {
        background-color: #BA8C5B;
    }

    /* Images */
    img {
        height: 150px;
        width: 300px;
    }

    .columns {
        display: flex;
        list-style: none;
        justify-content: space-around;
        flex-direction: row;
        padding-left: 0;
    }

    #projects div {
        background-color: #BA8C5B;
        margin: 3%;
        display: inline;
        width: 30%;
    }

    .thirty {
        width: 30%;
        background-color: #BA8C5B;
        margin: 2%;
    }
}

.thirty {
    background-color: #BA8C5B;
    margin: 2%;
}

#projects div {
    background-color: #BA8C5B;
    margin: 5%;
    margin-left: 6%;
}

/* lists */
li {
    background-color: #BA8C5B;
    margin: 5%;
}

/* Images */
img {
    height: 150px;
    width: 300px;
    border: 2%;
}
/* Main Nav */
#main-nav {
    flex: 1;
}

/* Typography */
h1, a:link, a:visited, a:hover, a:active {
    color: #0D0D0D;
}

p {
    color: #0D0D0D;
    font-size: 150%;
    margin: 2%;
}

h2, ul{
    color: #0D0D0D;
}

a {
    text-decoration: none;
}



