.columns {
    display: flex;
    align-items: center;
}

#body {
    width: 95%;
    margin: auto;
}

img {
    max-width: 100%;
}

.hide {
    display: none;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #587F86;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #587F86;
}

#nav-items li {
    font-size: 20px;
    margin: 4px;
}

#sub-nav {
    position:absolute;
    top:0;
    right:5px;
}

#main-nav ul, #sub-nav ul {
    padding-left:0;
}

#main-nav li, #sub-nav li {
    list-style-type: none;  /* remove the bullets */
    text-align: left;
}

/* Header */
#header {
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#header p{
    padding-left: 12px;
}

a {
    text-decoration: none;
    color: black;
}

/* footers */
footer {
    width: 95%;
}

#footer {
    justify-content: flex-end;
}

#footer p {
    padding-left: 12px;
}

#footer p {
    font-size: 24px;
    font-weight: bold;
}

/* index.html */

/* Main */
main {
    width: 90%;
    margin: auto;
}


#home {
    background: #F2D6A2;
}

.bold {
    font-size: 28px;
    font-weight: bold;
}

#home main h1 {
    font-size: 32px;
    font-weight: bold;
}

#home main p {
    font-size: 24px;
}

/* image with text in it */
/* Ok I know it looks stupid but im too lazy to change the html */
#absolute {
    position: relative;
}

#relative {
    position: absolute;
    bottom: 8%;
    padding-left: 10%;
    padding-right: 3%;
    background: white;
}

.homeBanner {
    max-height: 1000px;
}

.bookClub {
    max-width: 50%;
}

#weekly-bookclub {

}
#weekly-bookclub div{
    padding: 12px;
}

/* browse.html */
main {
    width: 90%;
}

#browse {
    justify-content: space-between;
}

#browse img {
    width: 500px;
}

#browse p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#browse .center-div {
    margin: 16px;
}

.hide-small {
    display: none;
}

.thirty {
    margin-top: 12px;
}

.in-center {
    display: block;
    margin: auto;
}

.thirty img {
    display: block;
    margin: auto;
}

.thirty p {
    text-align: center;
}

/* hotBooks.html */
#hotBooks h1 {
    text-align: center;
}

#hotBooks p {
    text-align: center;
}

/* search.html */
#space {
    justify-content: space-between;
}

#search p {
    font-weight: bold;
}

.button {
    margin-top: 24px;
    margin-left: 0px;
    padding: 12px;
    display: inline;
    background-color: lightslategray;
}

/* book.html */
.fifty {
    width: 48%;
    align-items: center;
}

#book p {
    padding-left: 12px;
    font-weight: bold;
    font-size: 18px;
}

.fifty img {
    display: block;
    margin: auto;
    width: 50%;
}

.center {
    text-align: center;
}

.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigger {
    width: 800px;
}
/* About Us */

/* adminTools.html */
#adminTools p {
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    #header {
        text-align: left;
    }

    .columns-big {
        display: flex;
    }

    .thirty {
    width: 30%;
    align-items: center;
    }

    .hide-small {
        display: block;
    }
    
    #hotBooks .center-div {
    margin: auto;
    width: 30%;
    }
}